[submodule "third_prty/zmq"]
	path = third_party/zmq
	url = https://github.com/zeromq/zeromq4-1.git
[submodule "third_party/zmqpp"]
	path = third_party/zmqpp
	url = https://github.com/zeromq/zmqpp.git
